<!DOCTYPE html>
<html>
  <head>
    <%= page_title_tag %>

    <%# == Meta tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, viewport-fit=cover">
    <meta name="view-transition" content="same-origin">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="env" content="<%= Rails.env %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <% turbo_refreshes_with method: :morph, scroll: :preserve %>
    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# == Application assets %>
    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= vite_javascript_tag "application", "data-turbo-track": "reload" %>
    <%= vite_stylesheet_tag "application", "data-turbo-track": "reload" %>

    <%# == Fonts %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Manrope:wght@200..800&display=swap" rel="stylesheet">
  </head>

  <body class="flex flex-col min-h-dvh">
    <header class="header">
      <%= link_to web_start_path, class: "flex items-center gap-1 hover:bg-primary-100 p-1 pr-2" do %>
        <%= vite_image_tag "assets/images/logo.png", class: "size-6" %>
        <span class="font-headings font-extrabold">smaller world</span>
      <% end %>
    </header>
    <%= turbo_frame_tag :flash do %>
    <% if notice = flash[:notice] || flash[:alert] %>
        <div class="flash" data-controller="element-removal" data-action="animationend->element-removal#remove">
          <div class="flash__inner shadow">
            <%= notice %>
          </div>
        </div>
      <% end %>
    <% end %>
    <main class="flex-1">
      <%= yield %>
    </main>
  </body>
</html>
