<!DOCTYPE html>
<html lang="en">
  <head>
    <%# == Inertia page-specific head %>
    <%== inertia_ssr_head %>

    <%# == Application head %>
    <meta name="apple-mobile-web-app-title" content="smaller world" />
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link inertia="favicon" rel="shortcut icon" href="/favicon.ico">
    <link inertia="favicon-image" rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
    <link inertia="apple-touch-icon" rel="apple-touch-icon" href="/apple-touch-icon.png">

    <%# == Viewport %>
    <meta name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover">

    <%# == Content Security Policy %>
    <%= csp_meta_tag %>

    <%# == CSRF %>
    <meta inertia="csrf-param" name="csrf-param" content="<%= request_forgery_protection_token %>">
    <meta inertia="csrf-token" name="csrf-token" content="<%= form_authenticity_token %>">

    <%# == Environment %>
    <meta name="env" content="<%= Rails.env %>">

    <%# == Action Cable %>
    <%= action_cable_meta_tag %>

    <%# == Active Storage %>
    <meta name="active-storage-direct-uploads-url" content="<%= rails_direct_uploads_path %>">
    <% if (direct_uploads_size_limit = Rails.configuration.active_storage.direct_uploads_size_limit) %>
      <meta name="active-storage-direct-uploads-size-limit" content="<%= direct_uploads_size_limit %>">
    <% end %>

    <%# == Supabase %>
    <% scoped do %>
      <% settings = Supabase.settings %>
      <meta name="supabase-project-id" content="<%= settings.project_id %>">
      <meta name="supabase-public-key" content="<%= settings.public_key %>">
    <% end %>

    <%# == Sentry %>
    <% if Sentry.initialized? %>
      <% config = Sentry.configuration %>
      <meta name="sentry-dsn" content="<%= config.dsn %>">
      <meta name="sentry-traces-sample-rate" content="<%= config.traces_sample_rate %>">
      <meta name="sentry-profiles-sample-rate" content="<%= config.profiles_sample_rate %>">
    <% end %>

    <%# == Fullstory %>
    <% if (settings = Fullstory.settings) %>
      <meta name="fullstory-org-id" content="<%= settings.org_id %>">
    <% end %>

    <%# == Amplitude %>
    <% if (settings = Amplitude.settings) %>
      <meta name="amplitude-api-key" content="<%= settings.api_key %>">
    <% end %>

    <%# == Clarity %>
    <% if (settings = Clarity.settings) %>
      <meta name="clarity-project-id" content="<%= settings.project_id %>">
    <% end %>

    <%# == Vite %>
    <%= vite_client_tag %>
    <% if local_assigns.include?(:page) %>
      <%= vite_react_refresh_tag %>
      <%= vite_javascript_tag "application.tsx" %>
    <% end %>

    <%# == Inertia %>
    <%== inertia_assets local_assigns.fetch(:page), type: :page, media: nil %>

    <%#== PWA %>
    <meta name="timestamp" content="<%= Time.current.to_i %>">

    <%# == Overpowered %>
    <meta name="overpowered-api-key" content="<%= Overpowered.settings.api_key %>">
    <script src="https://cdn.overpoweredjs.com/loader/opjs"></script>
    <%# <script src="https://op.smallerworld.club/opjs.min.js"></script> %>
  </head>

  <body>
    <%# == PWA %>
    <script>
      // Check timestamp deviation
      let timestamp = parseInt(document.querySelector('meta[name="timestamp"]').getAttribute('content'));
      let currentTimestamp = Math.floor(Date.now() / 1000);
      let deviationSeconds = Math.abs(currentTimestamp - timestamp);
      if (deviationSeconds > 10) {
        console.warn(`Timestamp deviation detected: ${deviationSeconds} seconds. Reloading page...`);
        window.location.reload();
      }

      // Capture beforeinstallprompt event
      window.addEventListener("beforeinstallprompt", event => {
        console.info("Captured beforeinstallprompt event", event);
        event.preventDefault();
        window.installPromptEvent = event;
      });
    </script>

    <%# == Content %>
    <%= yield %>
  </body>
</html>
